{% extends "page.html" %}
{% if announcement_login %}
  {% set announcement = announcement_login %}
{% endif %}

{% block login_widget %}
{% endblock %}

{% block main %}

<style>
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    .content {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        color: #f1f1f1;
        width: 100%;
        height: 100%;
        padding: 40px;
    }

    .LoginContainer {
        padding: 0;
        margin: 0;
        display: flex;
    }
    
    .LoginButton {
        padding: 5px;
        border-radius: 3px;
        background-color: #69b9ff;
        font-family: Nunito, Sans-Serif;
        display: inline-block;
        margin-right: 10px;
        margin-left: 5px;
        padding: 12px 30px;
        border-radius: 4px;
        -webkit-transition: background-color 300ms ease;
        transition: background-color 300ms ease;
        color: #fff;
        font-size: 16px;
        line-height: 21px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .LoginText {
        color: white;
        size: 16px;
    }

    .headerText {
        font-size: 45px;
        font-weight: 100;
        color: white;
        font-family: Nunito, Sans-Serif;
        margin-bottom: 20px;
        margin-top: 0;
    }

    div.LoginButton:hover{
        background-color: #a3a1a1;
    }

    a.LoginText:hover{
        color: #fff;
        text-decoration: none;
    }
    
    .centerAssets{
        margin-top: 16vh;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<video autoplay muted loop id="myVideo">
    <source src="https://static.videezy.com/system/resources/previews/000/044/275/original/Plexus-Abstract-Background.mp4" type="video/mp4">
</video>

<div class="content">
    
    <div class="centerAssets">
        <div style="display: inline-block;">
            <img src="https://uploads-ssl.webflow.com/600c6f417dcc51f1dc2ccc4f/603c357d16b10dae9661739a_DGR_Logo_Full.png" loading="lazy" width="75%" alt="">
        </div>
        <h1 class="headerText">Welcome to the DGR developer environment</h1>    
        <div class="LoginContainer">
            <a class="LoginText" href='/hub/oauth_login?next='>
                <div class="LoginButton">
                    Sign in [INTERNAL USE ONLY]
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}